body {
    margin: auto 0;
}

header {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 89x;
    background-color: #F59E0B;
    text-align: center;
}

header nav a {
   text-decoration: none;
   font-weight: 600;
   color: #1F2937;
}

.logo, .menu {
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

.logo {
    padding-right: 200px;
}

.menu {
    margin-bottom: 9px;
}

nav li {
    list-style: none;
    display: inline;
    padding-right: 21px;
}

nav li:first-child {
    padding-right: 26px;    
}

nav li:nth-child(2) {
    padding-right: 42px;    
}

nav li img {
    vertical-align: middle;
}

.destaque {
    width: 100%;
    height: 711px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(270deg, rgba(33, 184, 217, 0) 0%, #063266 100%), url(assets/img/background-destaque.png);
    background-size: cover;
    background-position: center;
}

.destaque2 {
    max-width: 1120px;
    margin: 0 auto; 
}

.destaque-titulo {
    padding-top: 180px;
    padding-bottom: 41px;
}

.destaque-titulo h1 {
    margin: 0;
    width: 672px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    line-height: 62px;
    color: #FFFFFF;
}

.destaque-titulo span {
   color: #F2C94C;
}

.destaque-info {
    padding-bottom: 77px;
}

.destaque-info p {
    width: 571px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.95);
}

.destaque div:nth-child(3) {
    padding-bottom: 99px;
}

.conheca-button {
    width: 316px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
    background: linear-gradient(90deg, #EF5F53 0%, #FA8F70 100%);
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    cursor: pointer;
}

.destaque div:nth-child(3) img {
    padding-right: 7px;
    margin-bottom: 1px;
    vertical-align: sub;
}

.destaque .arrow-buttons {
    float: right;
    position: relative;
    top: -75px;
}

.arrow-button {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 72.2222px;
    width: 65px;
    height: 65px;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.arrow-button svg:hover path {
    stroke: #3655B3;
}

.arrow-button:first-child {
    margin-right: 14px;
}

.destaque3 {
    background-color: #F7F9FF;
    height: 399px;
    padding-bottom: 30px;
    padding-top: 80px;
}

.ctlg {
    max-width: 1120px;
    margin: 0 auto;
}

.ctlg-left {
    width: 480px;
}

.ctlg-left p:first-child {
    margin-top: 80px;
    margin-bottom: 17px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #6B7280;
    line-height: 29px;
}

.ctlg-left p:nth-child(2) {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: #1F2937;
    line-height: 45px;
}

.ctlg-right {
    width: 535px;
    padding-left: 108px;
    float: right; 
    position: relative;
    top: -140px;
}

.ctlg-right p:first-child {
    margin-bottom: 43px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #6B7280;
    line-height: 29px;
}

.ctlg-right a { 
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    background: linear-gradient(90deg, #EF5F53 0%, #FA8F70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.modelos {
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 547px;
}

.blue-rectangle {
    width: 27px;
    height: 11px;
    background: #3655B3;
    border-radius: 1px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.modelos-titulo {
    max-width: 300px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: #3655B3;
}

.blue-rectangle, .modelos-titulo p {
    display: inline-block;
}

.tipo-piscina {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #6D6E71;
    margin-top: 8px;
    margin-bottom: 9.5px;
}

.tipo-piscina span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.tipo-piscina:first-child, .tipo-piscina:nth-child(4) span{
    color: #233673;
}

.icon-piscina {
    margin-right: 9.8px;
}
 
.icon-piscina, .modelo-piscina {
    display: inline;
    vertical-align: middle;
}

.modelo-piscina {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#9CA3AF;
}

.piscina {
    display: inline-block;
    padding-right: 25px;
    padding-bottom: 35.5px; 
}

.piscina:nth-child(5),
.piscina:nth-child(9),
.piscina:nth-child(13) {
    padding-right: 0;
}

.orcamentos {
    background: linear-gradient(180deg, rgba(153, 123, 141, 0.04) 8.74%, rgba(255, 0, 122, 0) 100%);
    border: 1px solid #E5E7EB;
    box-sizing: border-box;
    box-shadow: 0px 15px 15px rgba(252, 138, 51, 0.25);
    border-radius: 20px;
    max-width: 1100px;
    height: 947px;
    margin: 0 auto;
}

.produto-exemplo, .exemplo-info {
    display: inline-block;
    vertical-align: middle;
}

.produto-exemplo img {
    margin-left: 41px;
    margin-top: 107px;
}

.exemplo-info {
    margin-left: 16px;
    margin-bottom: -15px;
}

.exemplo-info p:not(:nth-child(4)) {
    font-family: 'Open Sans', sans-serif;
    color: #6D6E71;
    width: 442px;
}

.exemplo-info p:nth-child(2) {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #1F2937;
    position: relative;
}

.exemplo-info div {
    width: 185px;
    height: 11px;
    background: #F2C94C;
    position: absolute;
    margin-top: 42px;
    margin-left: -2px;
}

.exemplo-info p:nth-child(5) {
    margin-top: 30px;
}

.exemplo-info p:nth-child(7) {
    background: linear-gradient(90deg, #EF5F53 0%, #FA8F70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.exemplo-info button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #233673;
    border: none;
    border-radius: 5px;
    padding: 16px 30px;
    cursor: pointer;
    margin-top: 15px;
}

.arrow-buttons2 {
    float: right;
    margin-right: 25px;
}

.arrow-button2 {
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.arrow-button2:hover {
    border: 1px solid #3655B3;
}

.arrow-button2 svg {
    padding: 10px 12px;
}

.arrow-button2 svg:hover path {
    stroke: #3655B3;
}

.arrow-button2:first-child {
    margin-right: 15px;
}

.tamanhos-piscinas {
    background: linear-gradient(180deg, rgba(175, 156, 156, 0.15) 0%, rgba(156, 163, 175, 0) 100%);
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    width: 1100px;
    height: 304px;
    margin-top: 73px;
    text-align: center;
}

.tamanhos-piscinas div {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-align: top;
    padding-right: 19px;
    padding-top: 48px;
    vertical-align: text-top;
}

.tamanhos-piscinas div p {
    color: #1F2937;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    
}

.tamanhos-piscinas div span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin-top: 45.46px;
    color: #6D6E71;
}

.tamanhos-piscinas div:first-child span{
    margin-top: 16px;
}

.atendimento {
    width: 100%;
    height: 256px;
    background: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
    color: #FFFFFF;
}

.gotas {
    position: absolute;
}

.gotas img {
    margin-top: 17px;
}

.atendimento2 {
    max-width: 1120px;
    margin: 0 auto;
}

.atendimento-info, .logo-whatsapp, .fale-conosco {
    display: inline-block;
}

.atendimento-info, .logo-whatsapp {
    vertical-align: top;
    padding-top: 55px;
    padding-left: 53px;
}

.atendimento-info {
    padding-left: 14px;
}

.logo-whatsapp {
    padding-top: 65px;
}

.atendimento-info p:first-child {
    width: 447px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    line-height: 45px;
    margin: 0;
}

.atendimento-info p:nth-child(2) {
    width: 572px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    margin-top: 18px;
}

.fale-conosco button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #233673;
    border: none;
    border-radius: 5px; 
    padding: 16px 30px;
    margin-left: 80px;
    margin-top: 88px;
    cursor: pointer;
}
