/* Seção Acquafiber */

body {
    margin: auto 0;
}

/* Menu */

header {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 89x;
    background-color: #F59E0B;
    text-align: center;
}

.logo, .menu {
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

.logo {
    padding-right: 200px;
}

.menu {
    margin-bottom: 9px;
}

nav a {
   text-decoration: none;
   font-weight: 600;
   color: #1F2937;
}

nav li {
    list-style: none;
    display: inline;
    padding-right: 21px;
}

nav li:first-child {
    padding-right: 26px;    
}

nav li:nth-child(2) {
    padding-right: 42px;    
}

nav li img {
    vertical-align: middle;
}

/* Seção Hero */

.hero {
    width: 100%;
    height: 711px;
    background-image: linear-gradient(270deg, rgba(33, 184, 217, 0) 0%, #063266 100%), url(assets/img/background-hero.png);
    background-size: cover;
    background-position: center;
}

.hero-info {
    max-width: 1120px;
    margin: 0 auto; 
}

.hero-texto p {
    width: 571px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.95);
    margin: 0px;
}

.hero-titulo {
    padding-top: 180px;
    padding-bottom: 41px;
}

.hero-titulo h1 {
    margin: 0;
    width: 672px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    line-height: 62px;
    color: #FFFFFF;
}

.hero-titulo span {
   color: #F2C94C;
}

.gradient-button img {
    padding-right: 7px;
    margin-bottom: 1px;
    vertical-align: sub;
}

.gradient-button {
    margin-top: 77px;
    width: 316px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
    background: linear-gradient(90deg, #EF5F53 0%, #FA8F70 100%);
    border: none;
    border-radius: 5px;
    padding: 16px 20px;
    cursor: pointer;
}

.hero-buttons {
    float: right;
    margin-top: 60px;
}

.hero-buttons .arrow-button {
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 72.2222px;
    width: 65px;
    height: 65px;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.hero-buttons .arrow-button svg:hover path {
    stroke: #3655B3;
}

.hero-buttons .arrow-button:first-child {
    margin-right: 14px;
}

/* Seção Propaganda */

.propaganda {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: #F7F9FF;
    padding-top: 105px;
    padding-bottom: 61px;
}

.ctlg {
    max-width: 1120px;
    margin: 0 auto;
}

.ctlg-right, .ctlg-left{
    display: inline-block;
}

.ctlg-left {
    width: 480px;
    padding-right: 100px;
}

.ctlg-left p:first-child {
    color: #6B7280;
}

.ctlg-left p:nth-child(2) {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    color: #1F2937;
    line-height: 45px;
}

.ctlg-right {
    width: 535px; 
}

.ctlg-right p:first-child {
    margin-bottom: 43px; 
    color: #6B7280;
    line-height: 29px;
}

.ctlg-right a { 
    float: right;
    font-weight: 700;
    text-decoration: underline;
    background: linear-gradient(90deg, #EF5F53 0%, #FA8F70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(239, 95, 83, 1);
    background-clip: text;
}

/* Seção Modelos */

.modelos {
    font-family: 'Open Sans', sans-serif;
    max-width: 1120px;
    margin: 0 auto;
    margin-top: 67px;
}

.blue-rectangle {
    width: 27px;
    height: 11px;
    background: #3655B3;
    border-radius: 1px;
    margin-right: 8px;
    margin-bottom: 5px;
}

.modelos-titulo {
    max-width: 300px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: #3655B3;
}

.blue-rectangle, .modelos-titulo p {
    display: inline-block;
}

.tipo-piscina {
    font-size: 18px;
    line-height: 29px;
    margin-top: 8px;
    margin-bottom: 9.5px;
    color: #6D6E71;
}

.tipo-piscina-cor {
    color: #233673;
}

.tipo-piscina span {
    font-weight: 700;
}

.icon-piscina, .modelo-piscina {
    display: inline;
    vertical-align: middle;
}

.icon-piscina {
    margin-right: 8px;
}

.modelo-piscina {
    font-size: 14px;
    color:#9CA3AF;
}

.piscina {
    display: inline-block;
    padding-right: 26px;
    padding-bottom: 35.5px; 
}

.piscina:nth-child(5),
.piscina:nth-child(9),
.piscina:nth-child(13) {
    padding-right: 0;
}

/* Seção Orçamentos */

.orcamentos {
    font-family: 'Open Sans', sans-serif;
    max-width: 1120px;
    height: 956px;
    background: url(assets/img/section-piscinas.svg);
    background-repeat: no-repeat;    
    box-sizing: border-box;
    box-shadow: 0px 15px 15px rgba(252, 138, 51, 0.25);
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 80px;
}

div#arrow{
    text-align: center;
    padding-top: 5px;
    margin-left: 6px;
    position: relative;
}

.nossos-modelos {
    width: 200px;
    left: 53px;
}

.nossos-modelos, .modelos-buttons{
    display: inline-block;
}

.produto-exemplo, .exemplo-info {
    display: inline-block;
    vertical-align: text-top;
}

.produto-exemplo img {
    margin-top: 77px;
    margin-left: 41px;
}

.exemplo-info {
    padding-top: 90px;
    padding-left: 16px;
}

.exemplo-info p:not(:nth-child(4)) {
    color: #6D6E71;
    width: 442px;
}

.nossos-modelos, .exemplo-info p:nth-child(2) {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #1F2937;
    position: relative;
}

.exemplo-info div {
    width: 185px;
    height: 11px;
    background: #F2C94C;
    position: absolute;
    margin-top: 42px;
    margin-left: -2px;
}

.exemplo-info p:nth-child(5) {
    margin-top: 30px;
}

.exemplo-info p:nth-child(7) {
    background: linear-gradient(90deg, #EF5F53 0%, #FA8F70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.exemplo-info button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    background: #233673;
    border: none;
    border-radius: 5px;
    padding: 16px 30px;
    cursor: pointer;
    margin-top: 15px;
}

.modelos-buttons {
    float: right;
    margin-top: 8px;
    margin-right: 25px;
}

.modelos-buttons .arrow-button {
    border: 1px solid #D1D5DB;
    border-radius: 5px;
    cursor: pointer;
    background: none;    
}

.modelos-buttons .arrow-button:hover {
    border: 1px solid #3655B3;
}

.modelos-buttons .arrow-button:first-child  svg {
    padding: 8px 12px 8px 10px;
}

.modelos-buttons .arrow-button:last-child svg {
    padding: 8px 10px 8px 12px;
}

.modelos-buttons .arrow-button svg:hover path {
    stroke: #3655B3;
}

.modelos-buttons .arrow-button:first-child {
    margin-right: 15px;
}

.tamanhos-piscinas {
    background: linear-gradient(180deg, rgba(175, 156, 156, 0.15) 0%, rgba(156, 163, 175, 0) 100%);
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    width: 1120px;
    height: 304px;
    text-align: center;
}

.tamanhos-piscinas div {
    display: inline-block;
    text-align: top;
    padding-right: 19px;
    padding-top: 48px;
    vertical-align: text-top;
}

.tamanhos-piscinas div p {
    color: #1F2937;
}

.tamanhos-piscinas div span{
    display: block;
    font-size: 14px;
    text-align: left;
    margin-top: 45.46px;
    color: #6D6E71;
}

.tamanhos-piscinas div:first-child span{
    margin-top: 16px;
}

/* Seção Atendimento */

.atendimento {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 256px;
    background: linear-gradient(90deg, #FC4A1A 0%, #F7B733 100%);
    color: #FFFFFF;
}

.gotas {
    position: absolute;
}

.gotas img {
    margin-top: 17px;
}

.atendimento2 {
    max-width: 1120px;
    margin: 0 auto;
}

.atendimento-info, .logo-whatsapp, .fale-conosco {
    display: inline-block;
}

.atendimento-info, .logo-whatsapp {
    vertical-align: top;
    padding-top: 55px;
    padding-left: 53px;
}

.atendimento-info {
    padding-left: 14px;
}

.logo-whatsapp {
    padding-top: 65px;
}

.atendimento-info p:first-child {
    width: 447px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    line-height: 45px;
    margin: 0;
}

.atendimento-info p:nth-child(2) {
    width: 572px;
    font-size: 18px;
    line-height: 29px;
    margin: 0;
    margin-top: 18px;
}

.fale-conosco button {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #233673;
    border: none;
    border-radius: 5px; 
    padding: 16px 30px;
    margin-left: 80px;
    margin-top: 88px;
    cursor: pointer;
}

/* Seção Sobre Nós */

.sobre-nos {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    max-width: 1120px;
    margin: auto;
    margin-top: 146px;
    margin-bottom: 150px;
}

.sobre-nos div {
    display: inline-block;
}

.sobre-nos div div{
    position: absolute;
    padding-top: 265px;
}

.sobre-nos div span {
    color: #6B7280;
    width: 88px;    
    margin-top: 146px;   
}

.sobre-nos div h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 44px;
    font-weight: 300;
    line-height: 62px;
    color: #374151;
    width: 473px;
    position: relative;
    padding-right: 91px;
    margin-top: 31px;
    margin-bottom: 0px;
}

.sobre-nos div p {
    line-height: 29px;
    color: #374151;    
    width: 540px;
}

.sobre-nos div p span{
    background: linear-gradient(90deg, #EF5F53 0%, #FA8F70 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(239, 95, 83, 1);
    background-clip: text;
    text-decoration: underline;
}

.sobre-nos div img {
    position: relative;
    top: 10px;
    left: -100px;
}

h2 span.primary-blue, 
p span.primary-blue, 
p#primary-blue{
    color: #233673;
}
